@import url("//fonts.googleapis.com/css?family=Comfortaa" );

.button_green {
    background: url("../../images/button.png") no-repeat;
    background-size:contain;
    background-position: center;
    border: transparent;
    cursor:pointer;
    margin:auto;
    margin-top: -3vh;
    
    width: 200px;
    height: 100px;


    display: block;

  
    font-family: Comfortaa, sans-serif;
    color: white;
    font-size: 25px;
  }

  
.button_cancel {
    background: url("../../images/cancel.png") no-repeat;
    background-size:90%;
    background-position: center;
    border: transparent;
    cursor:pointer;
    margin:auto;
    margin-top: -3vh;
    
    width: 200px;
    height: 100px;
    max-width: 20%;
    max-height: 100%;

    display: block;
  }