@import url("//fonts.googleapis.com/css?family=Comfortaa" );
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #279AF1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header, body {
  font-family: Comfortaa, sans-serif;
}

.bg {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}


.headerUser{
  align-self: right;
  float: right;
  right: 0px;
  height: 55px;
  position: absolute;
  color: black;
  width:150px;
  height: inherit;
  border: transparent;
  font-family: Comfortaa, sans-serif;
  font-size: 20px;
  padding: 0;
  z-index: 3;
}

.headerUser:hover{
  background-color: #2f2f2f;
  color: white;
  transition: background-color 1s ease;
  transition: color 0.8s ease;
}

.userSelection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  float: right;
  right: 0px;
  height: 72px;
  width: 150px;
  margin-top: 0;
  /* margin-right: 30px; */
  z-index: 2;
  position: absolute;
  background: #afafaf;

  animation: slide 1s ease;
  animation-iteration-count: 1 ease;
  animation-fill-mode: forwards;
}

.title{
  height: 45px;
  width: auto;
  margin-left: 1vw;
  padding: 10px;
  max-width: 20vw;

}

.userOptions{
  font-family: Comfortaa, sans-serif;
  border:transparent;
  height:36px;
  width: 150px;
  margin:0;
  padding:0px;
  background: #efefef;
  color: black;
}

.header_button:hover, .userOptions:hover{
  background-color: #2f2f2f;
  color: white;
  transition: background-color 1s ease;
  transition: color 0.8s ease;
}

.headerOptions{
  float:right;
  display: flex;
  right: 0px;
  position: absolute;
}

.header_button{
  border: transparent;
  
  font-family: Comfortaa, sans-serif;
  color: #2f2f2f;
  cursor:pointer;
  padding: 0px 15px 0px  15px;

  font-size: 20px;
  z-index: 2;
  height: 55px;
  background:#efefef;
}

.titleRow{
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding-left: 15px;
  height: 55px;
  width: 280px;
  justify-content: center;
}

.titleRow:hover{
  background-color: #cfcfcf;
  transition: background-color 1s ease;
}

.gooseText{
  color: #2f2f2f;
  font-size: 35px;
  margin:0;
  margin-right: 10px;
  margin-top: 10px;
}

.HomeText{
  color: #afafaf;
  font-size: 35px;
  margin: 0;
  margin-top: 10px;
}

@keyframes slide{
  0%{
    transform: translate(0, -55px);
 
  }
  100%{
    transform: translate(0, 0);

  }
}

@keyframes gradient {
	0% {
		background-position: 0% 0%;
	}
	/* 50% {
		background-position: 100% 100%;
	} */
	100% {
		background-position: 100% 100%;
	}
} 